@import "../../styles/helpers";

.demos {
  .h2block {
    margin: 24px 0 16px 0;
  }
  .irisSpecies {
    display: flex;
    .species {
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .irisTable {
    .ant-table-tbody > tr > td {
      padding: 8px 16px;
    }
  }
  .parameterLabel {
    margin-right: 8px;
  }
  .parameterSelect {
    margin-right: 16px;
  }
  .model {
    display: flex;
    .modelLayer {
      flex: 1;
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
      .layerBlock {
        margin-bottom: 6px;
      }
      .divider {
        height: 12px;
      }
    }
  }
  .predict {
    display: flex;
  }
  .textBlock {
    margin-bottom: 6px;    
  }
}
