@import "../../styles/helpers";

.demos {
  .sider {
    .ant-menu-item {
      font-size: 16px;
      padding: 0 16px 0 40px;
    }
  }
  .pageContent {
    border-left: 1px solid $ui-border;
    margin-left: -1px;
    @media screen and (max-width: 1281px) {
      padding: 0 64px 40px 32px;
    }
    @media screen and (min-width: 1281px) {
      padding: 0 170px 40px 64px;
    }
  }
  .h2block {
    margin: 24px 0 16px 0;
  }
  .irisSpecies {
    margin-top: 24px;
    display: flex;
    .species {
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .irisTable {
    .ant-table-tbody > tr > td {
      padding: 8px 16px;
    }
  }
  .parameterLabel {
    margin-right: 8px;
  }
  .parameterSelect {
    margin-right: 16px;
  }
  .model {
    display: flex;
    .modelLayer {
      flex: 1;
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
      .layerBlock {
        margin-bottom: 6px;
      }
      .divider {
        height: 12px;
      }
    }
  }
  .predict {
    display: flex;
  }
  .textBlock {
    margin-bottom: 6px;
  }
}
