@import "../../styles/helpers";

.api {
  display: flex;
  padding-top: 40px;
  .sider {
    flex: 1;
    min-width: 224px;
    .menuItem {
      font-weight: 500;
    }
  }
  .pageContent {
    flex: 4;
    border-left: 1px solid $ui-border;
    margin-left: -1px;
    @media screen and (max-width: 1281px) {
      padding: 0 64px 40px 32px;
    }
    @media screen and (min-width: 1281px) {
      padding: 0 170px 40px 64px;
    }
  }
  h2 {
    margin-top: 36px;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 32px;
    &:first-child {
      margin-top: 0;
    }
  }
  h3 {
    margin-top: 36px;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 32px;
  }
  h4 {
    margin: 0;
  }
}
