@import '../../styles/helpers';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $ui-primary;
  height: 4em;
  padding: 0 3em;
  color: $ui-white;
  box-shadow: 0 2px 8px $ui-primary;
  .appName {
    font-size: 1.25em;
    a {
      color: $ui-white;
      &:hover {
        color: $ui-white;
      }
    }
  }
  .menu {
    background-color: $ui-primary;
    border-bottom: 2px solid $ui-primary;
    .ant-menu-item {
      border-bottom: 2px solid $ui-primary;
      padding: 0 2em;
      a {
        color: $ui-white;
        &:hover {
          color: $ui-white;
        }
      }
    }
    .ant-menu-item-active {
      color: $ui-white;
      border-bottom: 2px solid $ui-white !important;
    }
    .ant-menu-item-selected {
      color: $ui-white;
      border-bottom: 2px solid $ui-white !important;
    }
  }
}